<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229533239030-6g2t8ae9ikh50o8odndhtnve52p6lqgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229533239030-6g2t8ae9ikh50o8odndhtnve52p6lqgn</string>
	<key>API_KEY</key>
	<string>AIzaSyAM77Um1eZp2-FNqPhBOFZQ3hE5M_d-u6g</string>
	<key>GCM_SENDER_ID</key>
	<string>229533239030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobile.op3n.app</string>
	<key>PROJECT_ID</key>
	<string>op3n-mobile-development</string>
	<key>STORAGE_BUCKET</key>
	<string>op3n-mobile-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229533239030:ios:19c4e0b533ff7ea3024ed7</string>
</dict>
</plist>